{% extends 'base.html' %}


{% block head %}
<div class = "header">
  <div  style="background-color:#D14958;" class="top-bar-left">
    <ul style="background-color:#D14958;" class="dropdown menu">
        <li><a href = "/auth" >Home</a></li>
        <li><a href = "/logout" style="color:black;"> Log Out</a>
       </li>
       <li> <a style="color:black;"> Your Score: {{Points}}  </a></li>
      </ul>
  </div>
   </div>
  <title>Results</title>
  <h1>Correct</h1>
{% endblock %}
{% block content %}
  <body style="background-color:#EDAE49;">
Points Gained or Lost and Your Current Score: {{cScore}}
<br>
Want to know more?
<a href = {{link}}> {{title}} </a>
<form action = '/points' method = "POST">
  <input type = 'submit' name = "Go back to menu" value = "Play Again?">
</form>
</body>
{% endblock %}
