{% extends 'base.html' %}


{% block head %}
<ul class="breadcrumbs">
<li><a href = "/" >Home</a></li>
  <li class = "disabled">Play Game!</li>
  <li>
    <span class="show-for-sr">Current: </span> Correct Answer!
  </li>
</ul>
  <title>Results</title>
  <h1>Correct</h1>
{% endblock %}
{% block content %}
Question Summary: Points
<br>
Want to know more?
<a href = {{link}}> {{title}} </a>
<form action = '/points' method = "POST">
  <input type = 'submit' name = "Go back to menu" value = "Play Again?">
</form>
{% endblock %}
