{% extends 'base.html' %}

{% block head %}<title> Home </title>
<!--<div class = "breadcrumbs">
  <ul class="breadcrumbs">
    <li><a href = "/" >Home</a></li>
  </ul>
</div>
-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.0/css/foundation.css">

<body style="background-color:#EDAE49;">
  <div  style="background-color:#D14958;" class="top-bar">
    <div  style="background-color:#D14958;" class="top-bar-left">
      <ul style="background-color:#D14958;" class="dropdown menu">
	<li style="color:black;">
	  <a style="color:black;"  href="#"> Home </a>
	</li>
	<li>
	  <a style="color:black;" href="#info"> Info </a>
	</li>
	<li>
	  <a style="color:black;" href="points"> Play </a>
	</li>
		<li>
	  <a style="color:black;" href="#high"> High Scores </a>
		</li>
		   <li><a href = "/logout" style="color:black;"> Log Out</a>
		   </li>
		      <li>  <a style="color:black;"> Your Score: {{Points}}  </a>
		   </li>
		 <li style="text-align:right;"> 	<audio controls style="width:700px; height:55px;">
  <source src="../static/jeapordy-song.mp3" type="audio/mpeg">
		   </audio>
		   </li>
      </ul>
    </div>
  </div>
  <br>
    

{% endblock %}

    
    
{% block content %}
{% set msgs = get_flashed_messages() %}
	{% for each in msgs %}
		<h2>{{each}}<h2>
		<br>
		{% endfor %}


 <div class="grid-container">
   <div class="grid-x grid padding-x">

<div class="large-12 cell">
 <div class= "primary callout data-closable">
   <h2> Welcome to Jeapordy, {{Name}}! </h2>
   <button class= "close-button" aria-label="Close alert" type="button" data-close>
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
</div>
      </div>

   
        <h1>How to Play</h1>

 <div class="grid-x grid-padding-x">
		<div class="large-4 medium-4 small-4 cell">
		  <div style="background-color:#003D58; color:white;" class="primary callout">

		    
		      <center>
Step One: Once you press play game, you'll be prompted with some grids asking you to choose a point value. Points range from 100 to 1000 and correspond to difficulty.
</center>
		   
		  </div>
		</div>
		<div class="large-4 medium-4 small-4 cell">
		  <div style="background-color:#003D58; color:white;" class="primary callout">
		    <center>
Step Two: More stuff
		    </center>
		  </div>
		</div>
		<div class="large-4 medium-4 small-4 cell">
		  <div style="background-color:#003D58; color:white;" class="primary callout">
<center>
		  Step Three: More stuff
		  </center>
		  </div>
		
              


	
       </div>
     </div>
    <div  id = "intro"> <a href="points">
      <button type="button" class="success button expanded">Play Now!</button></a>
    
     </div>

<h2>High Scores</h2>
<div class = "high scores" id = "high">
  <table>
    <tr>
      <td> Username: </td>
      {% for name in names %}
      <td> {{name}} </td>
      {% endfor %}
    </tr>
    <tr>
      <td> Score: </td>
    {% for score in scores %}
      <td> {{score}} </td>
      {% endfor %}
    </tr>
  </table>

</div>

<br>
   
{% endblock %}
