{% extends 'base.html' %}


{% block head %}
  <title>Points</title>
  <h1>How Much Do You Want Your Question to Be Worth?</h1>
{% endblock %}
{% block content %}
<form action="/question">
  <input type="submit" name="100" value="100pts">
</form>
<form action="/points">
  <input type="submit" name="200" value="200pts">
</form>
<form action="/points">
  <input type="submit" name="300" value="300pts">
</form>
<form action="/points">
  <input type="submit" name="400" value="400pts">
</form>
<form action="/points">
  <input type="submit" name="500" value="500pts">
</form>
<form action="/points">
  <input type="submit" name="600" value="600pts">
</form>
<form action="/points">
  <input type="submit" name="800" value="800pts">
</form>
<form action="/points">
  <input type="submit" name="1000" value="1000pts">
</form>
{% endblock %}
