{% extends 'base.html' %}


{% block head %}
<div class = "header">
  <div  style="background-color:#D14958;" class="top-bar-left">
    <ul style="background-color:#D14958;" class="dropdown menu">
        <li><a href = "/auth" >Home</a></li>
        <li><a href = "/logout" style="color:black;"> Log Out</a>
       </li>
       <li> <b>Your score: {{Points}}</b> </li>
      </ul>
  </div>
   </div>
  <title>Question</title>
{% endblock %}
{% block content %}
  <body style="background-color:#EDAE49;">
  <h3>Question: {{question}}<br>Category: {{category}}</h3>
  <h4>{{wrong}}</h4>
  <form action = {{link}} method = "POST">
    Answer:<input type = 'text' name = 'useranswer'>
    <input type = 'hidden' name = 'answer' value = {{answer}}>
    <input type = 'hidden' name = 'uCategory' value = {{uCategory}}>
    <input type = 'hidden' name = 'points' value = {{points}}>
  </form>
  </body>
{% endblock %}
