{% extends 'base.html' %}


{% block head %}
  <ul class="breadcrumbs">
  <li><a href = "/" >Home</a></li>
    <li class = "disabled">Play Game!</li>
    <li>
      <span class="show-for-sr">Current: </span> Question
    </li>
  </ul>
  <title>Question</title>
{% endblock %}
{% block content %}
  <h3>Question: {{question}}<br>Category: {{category}}</h3>
  <h4>{{wrong}}</h4>
  <form action = {{link}} method = "POST">
    Answer:<input type = 'text' name = 'useranswer'>
    <input type = 'hidden' name = 'answer' value = {{answer}}>
    <input type = 'hidden' name = 'uCategory' value = {{uCategory}}>
    <input type = 'hidden' name = 'points' value = {{points}}>
  </form>
{% endblock %}
